* {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

html body {                         /* Bootstrap defaults to white background unless css is specified like this */
    background-color: #02004B;
    min-height: 100vh;
}

/* LANDING PAGE */

.landing-h1 {
    font-size: 2.5em;
    margin-top: 20%;
    margin-bottom: 15%;
}

.landing-body {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

.what-can-help {
    color: #FFC700;
    display: inline-block;
    margin-top: 10%;
}

.what-can-help:hover {
    color: #ffa800;
    animation-name: what-can-help-hover;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
}

@keyframes what-can-help-hover {
    0%    {color: #FFC700}
    100%  {color: #ffa800}
}

/* INITIAL HOME */

.initial-h1 {
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.initial-span {
    font-size: 1em;
    color: #FFC700;
}

.initial-p {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

#initial-home-bulb {
    display: block;
    margin: 0 auto 2% auto;
}

#click-on-lightbulb {
    margin-bottom: 5%;
}

#main-pipes {
    display: none;
    margin: 0 auto;
    opacity: 0;
    position: relative;
    bottom: 50%;
    /* bottom: 75%; */
    /* bottom: 475px; */
}

/* media query #main-pipes bottom */

#initial-home-bulb:hover,
#sun-word:hover,
#wind-word:hover,
#water-word:hover {
    cursor: pointer;
}