* {
    font-family: 'Oswald', sans-serif;
    background-color: #02004B;
    font-size: 24px;
}

/* LANDING PAGE */

.landing-h1 {
    font-size: 2.5em;
    margin-top: 20%;
    margin-bottom: 15%;
}

.landing-body {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

.what-can-help {
    color: #FFC700;
    display: inline-block;
    margin-top: 10%;
}

.what-can-help:hover {
    color: #ffa800;
}

/* INITIAL HOME */

.initial-h1 {
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.initial-span {
    font-size: 1em;
    color: #FFC700;
}

.initial-p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

#initial-home {
    display: block;
    margin: 4% auto 2% auto;
}