* {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

html {                         
    max-height: 100vh;
}

html body {                     /* Bootstrap defaults to white background unless css is specified like this */
    background-color: #02004B;
}

#initial-home-body {            /* so it doesn't scroll */
    /* position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden; */
}

/* LANDING PAGE */

.landing-h1 {
    font-size: 2.5em;
    margin-top: 20%;
    margin-bottom: 15%;
}

.landing-body {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

.what-can-help {
    color: #FFC700;
    display: inline-block;
    margin-top: 10%;
}

.what-can-help:hover {
    color: #ffa800;
    animation-name: what-can-help-hover;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
}

@keyframes what-can-help-hover {
    0%    {color: #FFC700}
    100%  {color: #ffa800}
}

/* INITIAL HOME */

.initial-h1 {
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.initial-span {
    font-size: 1em;
    color: #FFC700;
}

.initial-p {
    font-size: 0.9em;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

#initial-home-bulb {
    display: block;
    margin: 0 auto 2% auto;
}

#bulb-and-pipes {
    z-index: 1;                 /* summary was on top of water-click so couldn't click */
    display: block;
    margin: 3% auto 0 auto;
}

#click-on-lightbulb {
    z-index: 1;
    display: block;
    position: relative;
    bottom: 225px;
}

.pipes {
    display: none;
    /* margin: 0 auto;
    opacity: 0;
    height: 360px;
    position: relative;
    bottom: 250px; */
}

/* media query #main-pipes bottom? */

#shape1:hover,
#shape2:hover,
#shape3:hover,
#shape4:hover,
#shape5:hover,
#shape6:hover,
#shape7:hover,
#shape8:hover,
#shape9:hover,
#shape10:hover,
#shape11:hover,
#shape12:hover,
#shape13:hover,
#shape14:hover,
#shape15:hover,
#sun-word:hover,
#wind-word:hover,
#water-word:hover,
#sun-rectangle:hover,
#wind-rectangle:hover,
#water-rectangle:hover {
    cursor: pointer;
}

#initial-home-bulb {

    /* NO SCROLL */
    height: 300px;

    /* margin: 0 auto; */

}

#bulb-and-pipes {
    height: 500px;
    width: 100%;                /* so wind doesn't get cut off */
    padding: 0 10%;             /* so the sides don't get cut off when resizing */
}

#modal-close {
    margin-left: 90%;
}

/* Back button */
#back-btn {
    position: absolute;
    opacity: 0;
    display: none;
    bottom: 10%;
    z-index: 1;
    border-radius: 0;
    font-family: 'Oswald', 'sans-serif';
    font-size: .8em;
}

/* Back button colors */

.sun-back-btn {
    background-color: #FFF500;
    color: #909090;
}

.sun-back-btn:hover {
    background-color: #FFF500;
    color: #000000;
}

.wind-back-btn {
    background-color: #E5E5E5;
    color: #727272;
}

.wind-back-btn:hover {
    background-color: #E5E5E5;
    color: #000000;
}

.water-back-btn {
    background-color: #46A6FF;
    color: #E5E5E5;
}

.water-back-btn:hover {
    background-color: #46A6FF;
    color: #000000;
}

/* Titles */

#sun-title,
#wind-title,
#water-title {
    position: absolute;
    bottom: 8%;
    left: 100px;
    font-family: 'Oswald', 'sans-serif';
    font-size: 2em;
    display: none;
    color: #000000;
    opacity: 0;
}

/* Summaries */

#sun-summary,
#wind-summary,
#water-summary {
    position: absolute;
    bottom: 8%;
    font-family: 'Oswald', 'sans-serif';
    display: none;
    color: #000000;
    opacity: 0;
}

/* MEDIA QUERIES FOR SUMMARIES */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 0px) and (max-width: 767px) {
    #sun-summary,
    #wind-summary,
    #water-summary {
        bottom: 85%;
    }
    /* #sun-sum-p,
    #wind-sum-p,
    #water-sum-p {
        font-size: .8em;
    } */
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    #sun-summary,
    #wind-summary,
    #water-summary {
        bottom: 80%;
    }
    /* #sun-sum-p,
    #wind-sum-p,
    #water-sum-p {
        font-size: .9em;
    } */
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #sun-sum-p {
        font-size: 1em;
    }
}

/* // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */