/* indicate clickable shapes */

.water-glow {
    animation-name: water-glow;
    animation-delay: 1000ms;
    animation-duration: 2500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes water-glow {
    0%      {stroke: #46A6FF; stroke-width: 5;}
    50%      {stroke: #000000; stroke-width: 3;}
    100%    {stroke: #46A6FF; stroke-width: 5;}
}

/* animation when hover over clickable shape */

.water-hover {
    animation-name: water-hover;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
}

@keyframes water-hover {
    0%      {stroke: #1313EF; stroke-width: 5;}
    100%    {stroke: #1313EF; stroke-width: 5;}
}

/* back button */

.water-back-btn {
    background-color: #46A6FF;
    color: #E5E5E5;
}

.water-back-btn:hover {
    background-color: #46A6FF;
    color: #000000;
}